<div class="row">
  <div class="col-xs-8 col-xs-offset-2">

    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" name="email" ngModel>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" ngModel>
      </div>
      <!--<div class="checkbox">-->
        <!--<label><input type="checkbox"> Remember me</label>-->
      <!--</div>-->
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

  </div>
</div>
